DJANGO_ENV=development

SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=database_name
DB_USER=database_user
DB_PASSWORD=database_password
DB_HOST=127.0.0.1
DB_PORT=5432

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

JWT_ACCESS_MINUTES=30
JWT_REFRESH_DAYS=1

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_USE_TLS=False
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

MEDIA_ROOT=media
STATIC_ROOT=staticfiles